*{
    padding:50;
    margin: 1000;
    box-sizing: border-box;
}
body{
    background: rgb(148, 35, 15);
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(250,250,250);
    width: 300px;
    height: 400px;
    border-radius: 3px;
}
.form input{
    border: 1px solid rgba(100,100,100,0.3);
    box-shadow: 1px 1px 2px rgba(180,180,180,0.3),
    -1px -1px 2px rgba(180,180,180,0.3);
    transform: translateY(50px);
    display: block;
    margin: 15px auto 0px auto;
    height: 30px;
    width: 80%;
    border-radius: 2px;
    text-align: center;
}
input:focus{
    outline: none;
}
.form input[type="submit"]{
    margin-top: 30px;
    background: rgb(83, 15, 148);
    width: 77%;
    border-radius: 2px;
    color: rgb(255,255,255);
    border: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
::placeholder{
  position: relative;
  left: 20px;
  text-align: justify;
}
.title{
    transform: translate(30px,40px);
}
.title p{
    color: rgb(0, 0, 255);
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
  position: relative;
  left: 50px;
  top: -3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}