*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: white
}
table{
    width: 90%;
    display: block;
    margin: auto;
}
table,tr,td,th{
    border: 1px solid rgb(200,200,200);
    border-collapse: collapse;
}
th{
    width: 500px;
    height: 30px;
    background: rebeccapurple;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
td{
    text-align: center;
}
a{
    text-decoration: none;
}
img{
    width: 20px;
    height: 20px;
}